<template>
  <Row span='24'>
    <Table border :columns='columns7' :data='data6'></Table>
    <Modal
      v-model='modal1'
      title='Common Modal dialog box title'
      @on-ok='ok'
      @on-cancel='cancel'>
      <form-schema ref='myform' :schema='schema' v-model='model'/>
    </Modal>
  </Row>
</template>
<script>
import FormSchema from 'vue-json-schema'

FormSchema.setComponent('form', 'Form', ({ vm }) => {
  // vm is the FormSchema VM
  const labelWidth = 120
  const model = vm.data
  const rules = {}

  vm.fields.forEach((field) => {
    const type = field.schemaType === 'array' && field.type === 'radio'
      ? 'string'
      : field.schemaType
    const required = field.required
    const message = field.title
    const trigger = ['radio', 'checkbox', 'select'].includes(field.type)
      ? 'change' : 'blur'

    // http://element.eleme.io/#/en-US/component/form#validation
    rules[field.name] = { type, required, message, trigger }
  })

  // returning the form props
  return { labelWidth, rules, model }
})

// http://element.eleme.io/#/en-US/component/form#validation
FormSchema.setComponent('label', 'FormItem', ({ field }) => ({
  prop: field.name
}))

FormSchema.setComponent('email', 'Input')
FormSchema.setComponent('text', 'Input')
FormSchema.setComponent('textarea', 'Input')
FormSchema.setComponent('checkbox', 'Checkbox')
FormSchema.setComponent('radio', 'Radio')
FormSchema.setComponent('select', 'Select')
FormSchema.setComponent('option', 'Option')
FormSchema.setComponent('button', 'Button')
FormSchema.setComponent('number', 'InputNumber')

export default {
  components: {
    FormSchema
  },
  data () {
    return {
      modal1: false,
      schema: {
        '$id': 'http://example.com/example.json',
        'type': 'object',
        'definitions': {},
        '$schema': 'http://json-schema.org/draft-07/schema#',
        'properties': {
          'name': {
            '$id': '/properties/name',
            'type': 'string',
            'title': 'The Name Schema ',
            'default': '',
            'examples': [
              'John Brown'
            ]
          },
          'age': {
            '$id': '/properties/age',
            'type': 'integer',
            'title': 'The Age Schema ',
            'default': 0,
            'examples': [
              18
            ]
          },
          'address': {
            '$id': '/properties/address',
            'type': 'string',
            'title': 'The Address Schema ',
            'default': '',
            'examples': [
              'New York No. 1 Lake Park'
            ]
          }
        }
      },
      selectedIndex: -1,
      model: {},
      columns7: [
        {
          title: 'Name',
          key: 'name',
          render: (h, params) => {
            return h('div', [
              h('Icon', {
                props: {
                  type: 'person'
                }
              }),
              h('strong', params.row.name)
            ])
          }
        },
        {
          title: 'Age',
          key: 'age'
        },
        {
          title: 'Address',
          key: 'address'
        },
        {
          title: 'Action',
          key: 'action',
          width: 150,
          align: 'center',
          render: (h, params) => {
            return h('div', [
              h('Button', {
                props: {
                  type: 'primary',
                  size: 'small'
                },
                style: {
                  marginRight: '5px'
                },
                on: {
                  click: () => {
                    this.show(params.index)
                  }
                }
              }, 'View'),
              h('Button', {
                props: {
                  type: 'error',
                  size: 'small'
                },
                on: {
                  click: () => {
                    this.remove(params.index)
                  }
                }
              }, 'Delete')
            ])
          }
        }
      ],
      data6: [
        {
          name: 'John Brown',
          age: 18,
          address: 'New York No. 1 Lake Park'
        },
        {
          name: 'Jim Green',
          age: 24,
          address: 'London No. 1 Lake Park'
        },
        {
          name: 'Joe Black',
          age: 30,
          address: 'Sydney No. 1 Lake Park'
        },
        {
          name: 'Jon Snow',
          age: 26,
          address: 'Ottawa No. 2 Lake Park'
        }
      ]
    }
  },
  methods: {
    show (index) {
      this.selectedIndex = index
      this.modal1 = true
      Object.assign(this.model, this.data6[index])
      this.$forceUpdate()
    },
    remove (index) {
      this.data6.splice(index, 1)
    },
    ok () {
      this.$Message.info('Clicked ok')
      Object.assign(this.data6[this.selectedIndex], this.model)
      this.selectedIndex = -1
    },
    cancel () {
      this.$Message.info('Clicked cancel')
      this.selectedIndex = -1
    }
  }
}
</script>
